<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC-X1Kl3toQ1Ed4xE0JYVlVahWSEiSxp3s</string>
	<key>GCM_SENDER_ID</key>
	<string>117099973493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moneymanager</string>
	<key>PROJECT_ID</key>
	<string>moneymanager-e01de</string>
	<key>STORAGE_BUCKET</key>
	<string>moneymanager-e01de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:117099973493:ios:f5349a483ab2d32edf213c</string>
</dict>
</plist>